    .button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: #46793a;
      color: black;
      border: 2px solid #008CBA;

    }

    .button2:hover {

      background-color: #008CBA;
      color: white;
    }




    body {font-family: Arial, Helvetica, sans-serif;}
      * {box-sizing: border-box;}

      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      .container {
        border-radius: 5px;
        background-color: #46793a;
        padding: 20px;
      }


/* relevant code for the icons starts here */

.site{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper{
  display:flex;
  height: 30vh;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}



.fab {
margin: auto;

}
.social{
  color: #FFF;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social:hover {
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;

}

.facebook {
 color:#4267B2;
}

.twitter {
color:#1DA1F2;

}
.youtube {
      color:#c4302b;
}
.pinterest {
   color:#c8232c;
}
.instagram {
 color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;

}
.tumblr {
        color: #34526f;
}
.whatsapp {
        color:#25D366;
}
.github {
   color:#000;
}
.linkedin {
   color:#0077b5;
}
.bg-ico {
  display: flex;
  background-color: #FFF;
  width: 121px;
  height: 109px;
  line-height: 90px;
  margin: 0 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

}
.bg-ico:hover{
     box-shadow: 0 5px 15px -5px rgba(0,0,0,0.8);
}

#facebook:hover {
  background-color: #4267B2;
}

#twitter:hover {
background-color: #1DA1F2;

}
#youtube:hover {
      background-color: #c4302b;
}
#pinterest:hover {
   background-color:#c8232c;
}
#instagram:hover {
 background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


#tumblr:hover {
    background-color: #34526f;
}
#whatsapp:hover {
       background-color:#25D366;
}
#github:hover {
       background-color:#000;
}
#linkedin:hover {
       background-color:#0077b5;
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.pinterest:hover,
.instagram:hover,
.tumblr:hover,
.whatsapp:hover {
 color:#fff;
 transform: scale(1.3);

}
.github:hover {
 color:#fff;
 transform: scale(1.3);

}
.linkedin:hover {
 color:#fff;
 transform: scale(1.3);

}

/*--------------------------title animated -------------*/
.text-containeranimated {
  height: 62vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-containeranimated h1{
  margin: 0;
  font-size: 8rem;
  color: rgba(225,225,225, .01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
}