{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ projects_detail.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static projects_detail.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ projects_detail.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ projects_detail.technology }}</p>
    </div>
</div>
{% endblock %}